* {
    top: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, #00fba7 0%, #00ea9c 100%);
}

.Center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid gray;
    height: 500px;
    width: 400px;
    position: relative;
    top: 70px;
    left: 38%;
    background: linear-gradient(to right, whitesmoke 60%, white 100%);
    border-radius: 10px;
}

.header {
    margin-left: 0;
    margin-top: 30px;
    position: absolute;
}

.header h1 {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.login {
    position: absolute;
    margin-top: 100px;
}

.login button {
    margin-bottom: 20px;
}

#login {
    margin-bottom: 20px;
}

#anchor {
    text-decoration: none;
    color: blue;
    position: relative;
    bottom: 0;
}

.login a {
    text-decoration: none;
    color: blue;
    position: relative;
    bottom: 0;
}

#body {
    height: 100vh;
    background-color: whitesmoke;
}

.all {
    display: flex;
    background-color: whitesmoke;
    height: 200vh;
    width: 100%;
}

.left {
    width: 30%;
    height: 100vh;
    border-right: 1px solid gray;
}

.right {
    position: relative;
    width: 70%;
    overflow-y: hidden;
}

#contacts {
    margin-top: 20px;
    overflow-y: scroll;
    height: 100vh;
}

.user {
    margin-left: 30px;
    padding-top: 2.5px;
    border-bottom: 1px solid gray;
    padding-bottom: 2.5px;
    display: flex;
}

.user:hover {
    cursor: pointer;
    background-color: #00fba7;
    opacity: 0.7;
    width: 100%;
}

.user h1 {
    font-size: 20px;
}

.user p {
    font-size: 15px;
}

.user-img {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

.user-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.mini-content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10px;
}

.mini-content h1 {
    font-size: 15px;
}

.mini-content p {
    font-size: 10px;
}

.end {
    position: absolute;
    top: 83%;
    bottom: 0;
    right: 450px;
}


/*forgot page*/

.end a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

.Anchor {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

#welcome {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}


/*home page right section
* */

.receivedUser {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid gray;
    display: flex;
    padding-bottom: 20px;
}

.chatBox {
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 1px solid gray;
    padding-top: 50px;
    margin-bottom: 200px;
}

#chat {
    padding-right: 20px;
    margin-right: 20px;
}


/*ignore*/

.top button {
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 30px;
}

top {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 30px;
}

.postBtn {
    font-size: 20px;
}

.top a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    border: 1px solid gray;
}

.reel {
    height: 200px;
    width: 300px;
    margin: 10px;
    display: flex;
}

.reel-img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    display: flex;
}

.reel-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.mini-content1 {
    margin-top: 50px;
    margin-left: 10px;
}

.mini-content1 h1 {
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.mini-content1 h1:hover {
    color: #00ea9c;
}

.mini-content1 p {
    font-size: 10px;
    text-align: center;
}